<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Qna" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  <body>
  <!-- Navbar с использованием классов Bulma -->
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= questions_path %>">
      <span class="-img _glyph">
  <%= image_tag 'so-logo.png', alt: 'Stack Overflow Logo' %>
</span>
      </a>

    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <% if user_signed_in? %>
          <div class="navbar-item">
            Logged in as <%= current_user.email %>
          </div>
          <a class="navbar-item" href="<%= rewards_path %>">
            Rewards
          </a>
          <a class="navbar-item" href="<%= destroy_user_session_path %>" data-turbo-method="delete">
            Sign out
          </a>
        <% else %>
          <a class="navbar-item" href="<%= new_user_session_path %>">
            Sign in
          </a>
        <% end %>
      </div>
    </div>
  </nav>

  <%= turbo_frame_tag 'flash-messages' do %>
    <%= render 'shared/flash' %>
  <% end %>
  <%= yield %>
  </body>
</html>
