<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Qna" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <p>Logged in as <%= current_user.email %></p>
        <li><%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
  <%= turbo_frame_tag 'flash-messages' do %>
    <%= render 'shared/flash' %>
  <% end %>
  <%= yield %>
  </body>
</html>
